/* .MuiCheckbox-root .PrivateSwitchBase-root-19 {
    padding-left: 0 !important;
} */

/* .MuiTypography-body1
{
    font-size: 13px !important;
    font-weight: 600 !important;
    opacity: 0.8;
} */
/* .MuiSvgIcon-root {
    width: 20px !important;
    height: 20px !important;
    fill: #c2c2c2 !important;
} */
.MuiBox-root-21,
.MuiBox-root-22 {
    width: 20% !important;
}
/* .r-width-ttb5dx,
.r-height-1iud8zs,
.MuiBox-root-110,
.MuiBox-root-38
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  45px;
    width:  45px;
    object-fit: contain;
}
.r-width-ttb5dx img,
.r-height-1iud8zs img,
.MuiBox-root-110 img,
.MuiBox-root-38 img
{
    height:  20px;
    width:  20px;
    object-fit: contain;
} */